.title {
   color: blue;
   font-weight: 400;
}

.back {
    background-color: #DABDBD;
}

button:active {
    background-color: #93D1F2;
}

.result {
    position: relative;
    left: 320px;
    bottom: 150px;

    
}