body {
    background-color: whitesmoke;
    font-family: cursive;
}



h1 {
    font-size: 25px;
}

#general div {
    padding: 10px;
}

#result {
    background-color:#98B9E3;
    color: blue;
    border-radius: 7px;
    margin: 10px;
    width: 85%;
}